/* input */

.cardinput{
    position: absolute;
    height: 100vh;
    width: 640px;


    /* white */
    background: #FFFFFF;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;


}

.time{
    position: absolute;
    width: 110px;
    height: 42px;
    left: 83px;
    top: 259px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #1E4B72;
    border-style: none;
}



.calendarBlock{
    position: absolute;
    width: 500px;
    height: 117px;
    left: 51px;
    top: 37px;
    
    /* base */
    
    background: #E4E5E6;
    border-radius: 20px;
}
button{
    border:0;
    padding:0;
    margin:0;
}
.calendarMonth-Year{
    position: absolute;
    width: 166px;
    height: 117px;
    left: 51px;
    top: 37px;

    background: #1E4B72;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.month-calendar{
    left: 0;
    top:0;
    position: absolute;
    width: 55px;
    height: 28px;
    padding-left: 94px;
    padding-top: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    
    /* white */
    
    color: #FFFFFF;
    
}

.year-calendar{
    left: 0;
    top:0;
    position:absolute;
    width: 55px;
    height: 28px;
    padding-left: 94px;
    padding-top: 28px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* white */
    color: #FFFFFF;
}

.logo-calendar{
    
    left: 0;
    top:0;
    position: absolute;
    padding-left: 19px;
    padding-top: 26.5px;
    width: 64px;
    height: 64px;
    /* white */
}
.date-calendar{
    position: absolute;
    width: 73px;
    height: 75px;
    left: 294px;
    top: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    /* dark */
    color: #404040;
}
.dateprev-calendar{
    position: absolute;
    width: 73px;
    height: 75px;
    left: 203px;
    top: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    /* dark */
    color: rgba(64, 64, 64, 0.25);
}
.datenext-calendar{
    position: absolute;
    width: 73px;
    height: 75px;
    left: 391px;
    top: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    /* dark */
    color: rgba(64, 64, 64, 0.25);
}
.modal-calendar{
    position: absolute;
    height: fit-content;
    width: fit-content;
    left: 7.5%;
    top:25%;
}

.card-data{
    position: absolute;
    width: 591px;
    height: 457px;
    left: 25px;
    top: 240px;
    /* white */
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}