body {
    font-family: 'Roboto';
  }
  
/* input */

.cardinput{
    position: absolute;
    height: 100vh;
    width: 640px;


    /* white */
    background: #FFFFFF;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;


}

.time{
    position: absolute;
    width: 110px;
    height: 42px;
    left: 83px;
    top: 259px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #1E4B72;
    border-style: none;
}



.calendarBlock{
    position: absolute;
    width: 500px;
    height: 117px;
    left: 51px;
    top: 37px;
    
    /* base */
    
    background: #E4E5E6;
    border-radius: 20px;
}
button{
    border:0;
    padding:0;
    margin:0;
}

/*--- calendarModule ---*/

.calendarMonth-Year{
    position: absolute;
    width: 166px;
    height: 117px;
    left: 51px;
    top: 37px;

    background: #1E4B72;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.month-calendar{
    left: 0;
    top:0;
    position: absolute;
    width: 55px;
    height: 28px;
    padding-left: 94px;
    padding-top: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    
    /* white */
    
    color: #FFFFFF;
    
}

.year-calendar{
    left: 0;
    top:0;
    position:absolute;
    width: 55px;
    height: 28px;
    padding-left: 94px;
    padding-top: 28px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* white */
    color: #FFFFFF;
}

.logo-calendar{
    
    left: 0;
    top:0;
    position: absolute;
    padding-left: 19px;
    padding-top: 26.5px;
    width: 64px;
    height: 64px;
    /* white */
}
.date-calendar{
    position: absolute;
    width: 73px;
    height: 75px;
    left: 294px;
    top: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 4em;

    color: #404040;
    line-height: 75px;
}

.dateprev-calendar{
    position: absolute;
    width: 73px;
    height: 75px;
    left: 203px;
    top: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 4em;
    line-height: 75px;
    /* dark */
    color: rgba(64, 64, 64, 0.25);
}
.datenext-calendar{
    position: absolute;
    width: 73px;
    height: 75px;
    left: 391px;
    top: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 4em;
    line-height: 75px;
    /* dark */
    color: rgba(64, 64, 64, 0.25);
}
.modal-calendar{
    position: absolute;
    height: fit-content;
    width: fit-content;
    left: 7.5%;
    top:25%;
}
/*-----------------------------------*/

.card-data{
    position: absolute;
    width: 591px;
    height: 457px;
    left: 25px;
    top: 240px;
    /* white */
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
/* --------- listTicker.js ------------- */
.font-listticker{
    position: absolute;
    left: 20px;
    top: 30px;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* dark */
    color: #404040;
}

.show-ticker{
    position: absolute;
    width: 43px;
    height: 28px;
    left: 20px;
    top: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* dark */
    color: #404040;
}
.show-volumn{
    position: absolute;
    width: fit-content;
    height: 28px;
    top: 30px;
    right: -250px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* dark */
    color: #404040;
}
.show-start-time{
    position: absolute;
    width: 60px;
    height: 28px;
    left: 270px;
    top: 30px;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* dark */
    color: #404040;
}
.show-end-time{
    position: absolute;
    width: 60px;
    height: 28px;
    left: 338px;
    top: 30px;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* dark */
    color: #404040;
}
.show-type{
    position: absolute;
    width: 60px;
    height: 28px;
    left: 433px;
    top: 30px;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* dark */
    color: #404040;
}
/* -----------------------------------------*/
/* --- Addlist.js ---*/
.button-add{       
    position: absolute;
    width: 86px;
    height: 35px;
    left: 530px;
    top: 178px;
    /* main */
    background: #FFB216;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: white;
    
}
.input-ticker{
    position: absolute;
    top: 183px;
    left: 25px;
    width: 94px;
    height: 28px;
    border-style: none none solid none;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* base */
    color: #000000;
}
.input-volomn{
    position: absolute;
    width: 83px;
    height: 28px;
    left: 142px;
    top: 183px;
    border-style: none none solid none;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* base */
    color:#404040;
;
}
.input-timestart{
    position: absolute;
    width: 83px;
    height: 28px;
    left: 254px;
    top: 183px;
    border-style: none none solid none;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* base */
    color:#404040;
}
.input-timeend{
    position: absolute;
    width: 83px;
    height: 28px;
    left: 364px;
    top: 183px;
    border-style: none none solid none;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* base */
    color:#404040;
}
.input-switch{
    position: absolute;
    width: 60px;
    height: 32px;
    left: 458px;
    top: 178px;
    /* base */
    background: #E4E5E6;
    border-radius: 100px;
}

.input-dropdown{
    position: absolute;
    top: 400px;
    left: 200px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    /* base */
    color: #000000;  
}
/* DROPDOWN INPUT */
.react-autosuggest__container {
    position: relative;
}
  
.react-autosuggest__input {
    width: 240px;
    height: 30px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
    border-style: none none solid none;
}
  
.react-autosuggest__input--focused {
    outline: none;
}
  
.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
  
.react-autosuggest__suggestions-container {
    display: none;
}
  
.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 51px;
    width: 280px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
}
  
.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
  
.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}
  
.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}
  
/* ----------------- */ 