.container{
    background-color: red;
    width: 400px;
    height: 400px;
}
.cardinput{
    background-color: blue;
    width: 400px;
    height: 400px;
}

.graph{
    background-color: yellow;
    width: 400px;
    height: 400px;
}